<%= form_with model: lala, local: true do |f| %>
<%= render 'error_messages', model: f.object %>
  <div class="form-contact wrapper">
    <h2 class="form-title">Contect</h2>
    <div class="required">
      <label for="name">お名前<span>必須</span></label>
      <%= f.text_field :name, id:"name", placeholder: "例: 山田 太郎" %>
    </div>
    <div class="required">
      <label for="mail">メールアドレス<span>必須</span></label>
      <%= f.email_field :email, id:"mail", placeholder: "sample@sample.com" %>
    </div>
    <div class="required">
      <label for="message">メッセージ<span>必須</span></label>
      <%= f.text_area :text, id:"message", placeholder: "メッセージを入力" %>
    </div>

    <%= f.submit "送信", class: :button%>

  </div>
<% end %>
